/* Payment form */
#apuspayments-payment-form {
	padding-bottom: 1.5em;
}

#apuspayments-card-number-form .col1 {
	float: left;
	width: 50%;
}

#apuspayments-card-number-form .col2 {
	float: right;
	width: 50%;
}

#apuspayments-card-number-form .jp-card {
	min-width: 45% !important;
    width: 90% !important;
    height: 56% !important;
}
#apuspayments-card-number-form .form-helper {
	font-size: 12px;
	padding: 0px 20px 15px 0px;
	margin-top: -72px !important;
}
#apuspayments-card-number-form .form-helper a {
	font-weight: bold;
}
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-shiny, .jp-card .jp-card-back .jp-card-shiny {
	width: 40px;
    height: 28px;
}
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-number,
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-name,
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
	font-size: 15px !important;
}
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower {
	bottom: 34px !important;
}
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-number {
	margin-bottom: 0px !important;
	font-size: 12px !important;
}
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-name {
	display: none !important; 
}
#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
	display: none !important; 
}
#apuspayments-card-number-form .select2-container--default .select2-selection--single {
	border: 1px solid #bbb;
    height: 42px;
    color: #666;
    font-size: 1em;    
}
#apuspayments-card-number-form .select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 42px;
}
#apuspayments-card-number-form .input-text {
	font-size: 1em;
	color: #666;
}
#apuspayments-total-blockchain {
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 0px;
}
@media only screen and (max-width: 600px) {
	#apuspayments-card-number-form .col1 {
		width: 100%;
	}

	#apuspayments-card-number-form .col2 {
		width: 100%;
	}

	#apuspayments-card-number-form .jp-card {
	    min-width: 45% !important;
	    width: 73% !important;
	    height: 70% !important;
	}

	#apuspayments-card-number-form .jp-card-container {
		margin: 0px;
	}
}

@media only screen and (max-width: 480px) {
	#apuspayments-card-number-form .jp-card-container {
		width: 100%;
	}
}

@media only screen and (max-width: 380px) {
	#apuspayments-card-number-form .col1 {
    	float: left;
    	width: 100%;
	}

	#apuspayments-card-number-form .jp-card {
		width: 200px !important;
		height: 125px !important;
	}

	#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-number,
	#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-name,
	#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
		font-size: 14px !important;
	}

	#apuspayments-card-number-form .jp-card .jp-card-front .jp-card-lower {
		bottom: 40px !important;
	}
}